/* @media (prefers-color-scheme: dark){
    body{
        filter: invert(0%);
        background-color: rgb(17, 17, 17);  
    }
    .theme_one .hourHand, .theme_one .point{
        border-color: rgb(206, 13, 13);
    }
    .theme_one .minuteHand, .theme_one .secondHand{
        background-color: rgb(206, 13, 13);
    }
    .vertical-orientation .theme_one .point{
        border: 1vw solid rgb(206, 13, 13);
    }
}
body.light{
    filter: invert(100%);
} */